body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
	    border: none;
}

.table > tbody > tr > .row-tier1 td{
  background-color: rgba(208, 234, 237, 1);
}
.row-tier2 {
	background-color: rgba(192, 224, 175, 1);
}
.row-tier3 {
	background-color: rgba(211, 210, 143, 1);
}
.row-tier4 {
	background-color: rgba(198, 161, 115, 1);
}
.row-tier5 {
	background-color: rgba(186, 107, 89, 1);
}
